
.accordian-menu
  & .accordian-title
    display flex

  & .accordian-content
    display none
    padding-left 2em

  & label
    cursor pointer

  & ul.sub-menu
    margin 0
    padding 0
    list-style none

  & input[type="checkbox"]
    display none
    &:checked ~ .accordian-content
      display inherit
    &:checked ~ label .closed
      display none
    &:checked ~ label .open
      display inherit

  & label .closed
    display inherit
    margin-right 0.5em

  & label .open
    display none
    margin-right 0.5em


