*, *:before, *:after
  box-sizing: border-box;

html
  line-height 1.15
  height 100%
  background-image linear-gradient($color-dark, $color-dark2)
  background-repeat no-repeat
  background-attachment fixed
  background $color-dark 


body
  margin 0
  padding 0
  font $font-text-size-sm $font-text
  color $text-color-default

a
  text-decoration none
  color lighten($color-dim, 30%)
  &:hover
    color $color-light

@import "partial/_containers.styl"
@import "partial/_navmenu.styl"
@import "partial/_posts.styl"

.full-width
  width 100%

.page-head
  margin-top $navbar-height + 8px

.text-align-right
  text-align right

.text-align-center
  text-align center
  
.content
  padding $content-padding-general

.content-left
  padding-left $content-padding-left
.content-right
  padding-right $content-padding-right
.content-top
  padding-top $content-padding-top
.content-bottom
  padding-bottom $content-padding-bottom
.content-vertical
  padding-top $content-padding-top
  padding-bottom $content-padding-bottom
.content-horizontal
  padding-left $content-padding-left
  padding-right $content-padding-right

.hidden
  display none

.site-title
  font $font-title-size-sm $font-title
  color $text-color-title

.site-subtitle
  font $font-subtitle-size-sm $font-text
  color $text-color-subtitle

.grid
  display flex
  flex-flow row wrap
  align-content flex-start

generate-grid("cell-sm", 12)

@media only screen and (max-width: 767px)
  .hidden-sm, .hidden-sm-md
    display none

@media only screen and (min-width: 768px)
  body
    font-size $font-text-size-md

  .hidden-md, .hidden-sm-md, .hidden-md-lg
    display none
  
  generate-grid("cell-md", 12)
  
  .site-title
    font-size $font-title-size-md
  
  .site-subtitle
    font-size $font-subtitle-size-md

@media only screen and (min-width: 1024px)
  body
    font-text-size-lg

  .hidden-lg, .hidden-md-lg
    display none

  generate-grid("cell-lg", 12)
  
  .site-title
    font-size $font-title-size-lg
  
  .site-subtitle
    font-size $font-subtitle-size-lg



