
html
  height 100%
  background-repeat no-repeat
  background-attachment fixed
  background $color-dark
  background-image linear-gradient($color-dark, $color-dark2)


body
  margin 0
  padding 0
  font $font-default
  color $text-color-default


@import "partial/_containers.styl"
@import "partial/_navmenu.styl"

.full-width
  width 100%

.text-align-right
  text-align right

.text-align-center
  text-align center

.site-title
  font $font-bigtitle
  color $text-color-title

.site-subtitle
  font $font-smalltitle
  color $text-color-subtitle

.nav-title
  font $font-smalltitle
  color $color-mid
  padding 0.2em 0em 0.2em 0.2em

.post-list-title
  font $font-post-list-title
  border-bottom 1px solid $color-term-border

.grid
  display flex
  flex-flow row wrap
  align-content flex-start

generate-grid("cell-sm", 12)

@media only screen and (min-width: 768px)
  generate-grid("cell-md", 12)
  .site-title
    font $font-bigtitle-md
  .site-subtitle
    font $font-smalltitle-md

@media only screen and (min-width: 1024px)
  generate-grid("cell-lg", 12)
  .site-title
    font $font-bigtitle-lg
  .site-subtitle
    font $font-smalltitle-lg



