
html
  height 100%
  background-repeat no-repeat
  background-attachment fixed
  background $background-color
  background-image linear-gradient($background-color, $background-color2)


body
  margin 0
  padding 0
  font $font-default
  color $text-color-default


@import "partial/_containers.styl"

.centered-text
  width 100%
  text-align center

.site-title
  font $font-bigtitle
  color $text-color-sitetitle

.site-subtitle
  font $font-smalltitle
  color $text-color-default2

grid
  display flex
  flex-flow row wrap
  align-content flex-start

generate-grid("cell-sm", 12)

@media only screen and (min-width: 768px)
  generate-grid("cell-md", 12)
  .site-title
    font $font-bigtitle-md
  .site-subtitle
    font $font-smalltitle-md

@media only screen and (min-width: 1024px)
  generate-grid("cell-lg", 12)
  .site-title
    font $font-bigtitle-lg
  .site-subtitle
    font $font-smalltitle-lg



