
$color-bright = #EFFFC8   // White (green tint)
$color-light = #CBE896    // Lime-ish
$color-mid = #85CB33      // Green
$color-dim = #476A6F      // Dark Blue
$color-dark = #1F1C20     // Black (very subtle orange/brown tint)
$color-dark2 = #2B2B2B    // Very Dark Grey
$color-terminal = #0E190E // Black (very subtle green tint)
$color-term-border = #E0A458
