
.navbar
  position fixed
  width 100%
  height 48px
  left 0
  top 0
  z-index 999

.navbar .navshade
  background alpha($color-terminal, 0.5)
  border-left 1px solid $color-term-border
  border-right 1px solid $color-term-border
  border-bottom 1px solid $color-term-border


.header-big
  display flex
  align-items center
  justify-content center
  width 100%
  height 200px
  position relative
  background $color-dark
  border-bottom 1px solid $color-term-border
  &:after
    content ''
    position absolute
    bottom -1px
    left 25%
    width 50%
    border-bottom: 1px solid $color-dark


.term-box
  display flex
  width 100%
  margin-top 0.4em
  background $color-terminal
  border 1px solid $color-term-border

.term-box .term-box-thumb
  width 180px
  height 180px
  display inline-block
  border-right 1px solid $color-term-border
  & img
    width inherit
    height inherit
    object-fit cover

.content
  padding 0.85em
