.nav-menu
  vertical-align middle
  & ul
    margin 0
    padding 0
    list-style none
    &:first-child:before
      color $color-term-border
      content '/'

  & li
    display inline-block
    padding 0
    margin-left -0.5em
    &:after
      color $color-term-border
      content '/'

  & a
    padding 0 0.4em
    font-weight bold


.nav-title
  vertical-align middle
  font $font-heading-size-sm $font-title
  color $text-color-title
  & a
    color inherit
    &:hover
      color inherit


@media only screen and (min-width: 768px)
  .nav-title
    font-size $font-heading-size-md

@media only screen and (min-width: 1024px)
  .nav-title
    font-size $font-heading-size-lg



