
.post-list-title
  font $font-heading-size-sm $font-title
  width 90%
  padding 6px 0
  padding-left 6px
  border-bottom 1px solid $color-term-border

.post-list-dateblock
  width 75%
  padding 6px 0
  padding-left 6px
  color $color-mid
  border-bottom 1px solid $color-term-border

.post-list-date
  font-style italic
  color $color-mid

.post-list-content
  width 100%
  padding 6px 0
  padding-left 6px
  & p
    padding 0
    margin 0


.post-heading
  width 100%

.post-heading-img
  & img
    width 125px
    height 125px

.post-content
  margin-top 48px

h2.post-title
  font $font-title-size-sm $font-title
  color $color-light
  margin 0 

h3.post-date
  font $font-subtitle-size-sm $font-text
  color $color-mid
  margin 0


// Adjusting what needs adjusting for the different
// media queries.

@media only screen and (min-width: 768px)
  .post-list-title
    font-size $font-heading-size-md

  .post-heading
    width 75%

  h1.post-title
    font-size $font-title-size-md

  .term-box-post-thumb
    position relative
    width 125px !important
    height 125px !important
    display inline-block
    overflow hidden
    border-right 1px solid $color-term-border
    border-bottom 1px solid $color-term-border
    & img
      position absolute
      display block
      top 50%
      left 50%
      min-width 100%
      min-height 100%
      transform translate(-50%, -50%)

@media only screen and (min-width: 1024px)
  .post-list-title
    font-size $font-heading-size-lg

  h1.post-title
    font-size $font-title-size-lg


