
@import "partial/_colors.styl"

$font-default = 1.16em 'ShareTechMono'
$font-small = 0.85em 'ShareTechMono'

$font-post-list-title = 1.16em 'VT323'

$font-bigtitle = 2.18em 'VT323'
$font-smalltitle = 1.32em 'VT323'
$font-bigtitle-lg = 2.8em 'VT323'
$font-smalltitle-lg = 1.85em 'VT323'
$font-bigtitle-md = 2.44em 'VT323'
$font-smalltitle-md = 1.62em 'VT323'


// Text color for Site/Post/Page titles and subtitles
$text-color-title = $color-light
$text-color-subtitle = $color-mid

// Most common text color
$text-color-default = $color-bright

