
$font-default = 1.16em 'ShareTechMono'
$font-small = 0.85em 'ShareTechMono'

$font-post-list-title = 1.16em 'VT323'

$font-bigtitle = 2.18em 'VT323'
$font-smalltitle = 1.32em 'VT323'
$font-bigtitle-lg = 2.8em 'VT323'
$font-smalltitle-lg = 1.85em 'VT323'
$font-bigtitle-md = 2.44em 'VT323'
$font-smalltitle-md = 1.62em 'VT323'


$background-color = #1F1C20
$background-color2 = #2B2B2B
$background-content = #0E190E


// Text color for the Site Title and other BIG headings...
$text-color-sitetitle = #BBCEE3

// Most common text color
$text-color-default = #E6E6EB

// Used for dates and small sub-headings
$text-color-default2 = #D2D0DB

// Edges and keywords
$text-color-highlight = #CFC1B6
