<%- partial('partial/navbar'); %>
<div class="page-head">
<div class="content hidden-md-lg">
  <h2 class="section-title">Archive List</h2>
  <%- partial('partial/archive_list', {tag:"sm_"}); %>
</div>
<div class="grid">
  <div class="cell-md-3 cell-lg-4 hidden-sm">
    <h2 class="section-title">Archive List</h2>
    <%- partial('partial/archive_list', {tag:"norm_"}); %>
  </div>
  <div class="cell-sm-12 cell-md-9 cell-lg-8">
    <% if(page.posts.length > 0){ %>
      <% page.posts.each(function(post){ %>
        <%- partial('partial/post_preview', {post:post}); %>        
      <% }); %>
    <% } %>
  </div>
</div>
</div>
