<!DOCTYPE html>
<html>
  <head> 
    <%- partial('partial/meta'); %>
    <title><%- config.title %>
    <% if (page.title){ %>
      : <%- page.title %>
    <% } %>
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
