<div class="header-big">
  <div>
    <% if (page.title) { %>
      <div class="full-width text-align-center site-title">
        <%- page.title %>
      </div>
    <% } else { %>
      <div class="full-width text-align-center site-title">
        <%- config.title %>
      </div>
      <div class="full-width text-align-center site-subtitle"><%- config.subtitle %></div>
    <% } %>
  </div> 
</div>
