<div class="navbar">
  <div class="grid">
    <div class="cell-md-1 cell-lg-2"></div>
    <div class="cell-sm-12 cell-md-10 cell-lg-8">
      <div class="grid navshade">
        <div class="cell-sm-6">
          <div class="nav-title">
            <%- config.title %>
            <% if (page.title) { %>
              :<%- page.title %>
            <% } %>
          </div>
        </div>
        <div class="cell-sm-6 text-align-right">
          Items
        </div>
      </div>
    </div>
  </div>
</div>
